<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>950656858128-hce33m90bsnfod6d1j2d211vdsu91id9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950656858128-hce33m90bsnfod6d1j2d211vdsu91id9</string>
	<key>API_KEY</key>
	<string>AIzaSyDi3x4r3BkvpGq_7NSrJi7ztLj9Zk2TlEo</string>
	<key>GCM_SENDER_ID</key>
	<string>950656858128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neosoft.todolist</string>
	<key>PROJECT_ID</key>
	<string>todolist-e906f</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-e906f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950656858128:ios:f53b8e6b99e94803</string>
	<key>DATABASE_URL</key>
	<string>https://todolist-e906f.firebaseio.com</string>
</dict>
</plist>