page-additems {
    .rounded {
        -moz-border-radius: 20px;
        -webkit-border-radius: 50px;
        border-radius: 5px;
        margin-bottom: 50px;
        align-self: center;
        align-content: center;align-items: center;
    }
    .button{
        align-self: center;
        align-content: center;
        align-items: center;
        left:17%;
        border-bottom:none;
        width: 50%;
        height:30%;
        font-size: 1rem;
        margin-top:50px;
    }
   
    .textfield {
        width: 90%;
        height: 50px;
        border: 1px solid #fefeff;
        margin-top: 100px; 
        font-size:25px; 
        padding-left: 10px;     
    }

    ion-toolbar ion-title{
        text-align: center;
    }
    
}
